@import 'standard';

.main {
  // height: 300px;
  // width: 300px;
}

.table {
  display: table;
  border-top: 1px solid;
  border-left: 1px solid;
  max-height: 500px;
  max-width: 400px;
  overflow-y: auto;
  margin: 3px;

  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
    border-bottom: 1px solid;
    border-right: 1px solid;
    min-width: 100px;
    max-width: 300px;
    padding: 3px;
  }
}

.tabs-frame {
  margin: 5px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  .tab-row {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }
}

button:active {
  border-color: red;
}

.toggleLabel {
  margin: 0 3px;
  padding: 2px 0;
  border-left: solid 1px #777;
  border-right: solid 1px #777;

  input[type='checkbox'] {
    vertical-align: middle;;
  }
}

