* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  display: table;

  .row {
    display: table-row;

    .cell {
      display: table-cell;
    }
  }
}

[readOnly] {
  background-color: #aaa;
}

button.on {
  background-color: blue;
  color: white;
  padding: 2px 4px;
}
button.off {
  background-color: red;
  color: white;
  padding: 2px 4px;
}
